/**************************/
/*     Custom Styles      */
/**************************/

.uppercase {
	text-transform: uppercase;
}

.btn-inline {
	/* color: #f1f1f8; */
  /* text-decoration: none; */
  transition: all 0.2s ease;
}

.btn-inline:hover {
  color: #00c9db;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* .slider-1 {
  padding: 5rem 0;
} */

.ex-basic-1 .list-unstyled .fas {
	font-size: inherit;
}

.navbar .logo-image img {
  width: auto;
  height: 2.5rem;
}

/* Highlight.js */
.hljs {
  padding: 0;
}

.counter #counter .fab, .counter #counter .far {
	margin-bottom: 1rem;
	font-size: 2.25rem;
	color: #00c9db;
}
